{% extends "mybase.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}欢迎登录股票交易管理系统{% endblock %}

{% block content %}

    <section class="content-header">

    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">股票信息列表</h3>
                <div class="box-header ">
                </div>

                <div class="box-body">
                    <table id="stock_table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>股票代号</th>
                            <th>股票名称</th>
                            <th>发行时间</th>
                            <th>昨日收盘价</th>
                            <th>今日开盘价</th>
                            <th>类型</th>
                            <th>版块</th>
                            <th>涨跌幅</th>
                            <th>详情</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for item in stock %}
                            {% if item.change_extent > 0 %}
                                <tr style="color: red">
                                    <td>{{ item.stock_id }}</td>
                                    <td>{{ item.stock_name }}</td>
                                    <td>{{ item.issuance_time }}</td>
                                    <td>{{ item.closing_price_y }}</td>
                                    <td>{{ item.open_price_t }}</td>
                                    <td>{{ item.stock_type }}</td>
                                    <td>{{ item.block }}</td>
                                    <td>{{ item.change_extent }}</td>
                                    <td style="vertical-align: middle">
                                        <a href="{% url 'tradingSystem:stock_info' item.stock_id %}">详情</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr style="color: green">
                                    <td>{{ item.stock_id }}</td>
                                    <td>{{ item.stock_name }}</td>
                                    <td>{{ item.issuance_time }}</td>
                                    <td>{{ item.closing_price_y }}</td>
                                    <td>{{ item.open_price_t }}</td>
                                    <td>{{ item.stock_type }}</td>
                                    <td>{{ item.block }}</td>
                                    <td>{{ item.change_extent }}</td>
                                    <td style="vertical-align: middle">
                                        <a href="{% url 'tradingSystem:stock_info' item.stock_id %}">详情</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
               <div class="row">

            <div class="col-md-8">
                {#                <div class="box box-solid bg-teal-gradien">#}
                <div class="box box-solid">
                    <div class="box-header">
                        <i class="fa fa-th"></i>

                        <h3 class="box-title">看大盘</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="stock-chart" style="height:500px;"></div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-border">
                        {% comment %}
                        <div class="row">

                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                <input type="text" class="knob" data-readonly="true" value="20" data-width="60"
                                       data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="knob-label">Mail-Orders</div>
                            </div>

                            <!-- ./col -->
                            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                                <input type="text" class="knob" data-readonly="true" value="50" data-width="60"
                                       data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="knob-label">Online</div>
                            </div>
                            <!-- ./col -->
                            <div class="col-xs-4 text-center">
                                <input type="text" class="knob" data-readonly="true" value="30" data-width="60"
                                       data-height="60"
                                       data-fgColor="#39CCCC">

                                <div class="knob-label">In-Store</div>
                            </div>
                            <!-- ./col -->
                        </div>
                        {% endcomment %}
                        <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>

            <div class="col-md-4">
                <!-- Message box -->
                <div class="box box-success">



                    <!-- /.chat -->

                </div>
                <!-- /.box (chat box) -->
            </div>

        </div>
        <div class="row">

        </div>

    </section>
{% endblock %}
{% block script %}
    <script>

        $(function () {
            $(".select2").select2();
        });
        $(function () {
            var table = $('#stock_table').DataTable({
                dom: 'Bfrtip',
                buttons: [],
                "paging": true, <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true, <!-- 允许内容搜索 -->
                "ordering": true, <!-- 允许排序 -->
                "info": true, <!-- 显示信息 -->
                "autoWidth": false, <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });

            $('#stock_table').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('.select2').select2();
        });


        $(document).ready(function () {

//            $(".name").click


            /*基于准备好的dom，初始化echarts实例*/
            var myChart = echarts.init(document.getElementById('stock-chart'));

            // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
            var data0 = splitData([
                ['2022-01-04', 3649.15, 3632.33, 3610.09, 3651.89],
                                ['2022-01-05', 3628.26, 3595.18, 3583.47, 3628.26],
                                ['2022-01-06', 3581.22, 3586.08, 3559.88, 3594.49],
                                ['2022-01-07', 3588.99, 3579.54, 3577.1, 3607.23],
                                ['2022-01-10', 3572.74, 3593.52, 3555.13, 3593.52],
                                ['2022-01-11', 3589.9, 3567.44, 3562.75, 3602.15],
                                ['2022-01-12', 3578.16, 3597.43, 3572.1, 3599.5],
                                ['2022-01-13', 3601.03, 3555.26, 3555.16, 3601.07],
                                ['2022-01-14', 3544.07, 3521.26, 3519.32, 3548.42],
                                ['2022-01-17', 3522.09, 3541.67, 3519.43, 3546.09],
                                ['2022-01-18', 3541.89, 3569.91, 3531.33, 3579.31],
                                ['2022-01-19', 3567.63, 3558.18, 3541.66, 3578.73],
                                ['2022-01-20', 3556.23, 3555.06, 3540.55, 3576.26],
                                ['2022-01-21', 3546.75, 3522.57, 3514.89, 3547.0],
                                ['2022-01-24', 3508.24, 3524.11, 3500.14, 3531.61],
                                ['2022-01-25', 3509.28, 3433.06, 3433.06, 3519.83],
                                ['2022-01-26', 3442.69, 3455.67, 3417.76, 3462.12],
                                ['2022-01-27', 3456.1, 3394.25, 3392.02, 3456.36],
                                ['2022-01-28', 3407.59, 3361.44, 3356.56, 3417.05],
                                ['2022-02-07', 3407.76, 3429.58, 3407.76, 3434.03],
                                ['2022-02-08', 3428.54, 3452.63, 3390.46, 3453.19],
                                ['2022-02-09', 3450.82, 3479.95, 3444.08, 3484.74],
                                ['2022-02-10', 3481.91, 3485.91, 3464.22, 3488.86],
                                ['2022-02-11', 3472.28, 3462.95, 3459.33, 3500.15],
                                ['2022-02-14', 3451.85, 3428.88, 3415.45, 3457.26],
                                ['2022-02-15', 3428.04, 3446.09, 3421.64, 3447.49],
                                ['2022-02-16', 3457.07, 3465.83, 3453.8, 3475.06],
                                ['2022-02-17', 3464.21, 3468.04, 3454.28, 3480.97],
                                ['2022-02-18', 3451.63, 3490.76, 3447.03, 3490.76],
                                ['2022-02-21', 3488.41, 3490.61, 3471.69, 3492.2],
                                ['2022-02-22', 3473.29, 3457.15, 3437.67, 3473.39],
                                ['2022-02-23', 3458.51, 3489.15, 3458.18, 3490.76],
                                ['2022-02-24', 3474.37, 3429.96, 3400.21, 3486.98],
                                ['2022-02-25', 3445.34, 3451.41, 3440.93, 3480.18],
                                ['2022-02-28', 3450.32, 3462.31, 3425.52, 3462.31],
                                ['2022-03-01', 3471.36, 3488.83, 3465.72, 3491.13],
                                ['2022-03-02', 3478.29, 3484.19, 3467.0, 3486.62],
                                ['2022-03-03', 3495.93, 3481.11, 3473.34, 3500.29],
                                ['2022-03-04', 3459.98, 3447.65, 3437.7, 3474.88],
                                ['2022-03-07', 3438.56, 3372.86, 3360.74, 3438.56],
                                ['2022-03-08', 3372.55, 3293.53, 3287.34, 3383.63],
                                ['2022-03-09', 3303.71, 3256.39, 3147.68, 3321.48],
                                ['2022-03-10', 3312.18, 3296.09, 3291.24, 3326.58],
                                ['2022-03-11', 3259.32, 3309.75, 3217.42, 3315.66],
                                ['2022-03-14', 3271.89, 3223.53, 3223.53, 3297.8],
                                ['2022-03-15', 3192.36, 3063.97, 3063.97, 3196.92],
                                ['2022-03-16', 3107.67, 3170.71, 3023.3, 3177.79],
                                ['2022-03-17', 3215.01, 3215.04, 3202.93, 3260.17],
                                ['2022-03-18', 3207.15, 3251.07, 3197.36, 3260.78],
                                ['2022-03-21', 3255.62, 3253.69, 3223.39, 3267.5],
                                ['2022-03-22', 3249.54, 3259.86, 3239.53, 3279.11],
                                ['2022-03-23', 3264.79, 3271.03, 3251.98, 3279.89],
                                ['2022-03-24', 3256.06, 3250.26, 3236.66, 3266.89],
                                ['2022-03-25', 3247.16, 3212.24, 3211.64, 3257.11],
                                ['2022-03-28', 3185.17, 3214.5, 3159.83, 3230.22],
                                ['2022-03-29', 3216.01, 3203.94, 3196.46, 3229.18],
                                ['2022-03-30', 3217.59, 3266.6, 3216.3, 3266.6],
                                ['2022-03-31', 3256.14, 3252.2, 3246.06, 3272.04],
                                ['2022-04-01', 3234.67, 3282.72, 3226.3, 3287.23],
                                ['2022-04-06', 3269.43, 3283.43, 3255.69, 3288.11],
                                ['2022-04-07', 3267.81, 3236.7, 3236.48, 3290.26],
                                ['2022-04-08', 3239.88, 3251.85, 3208.35, 3257.09],
                                ['2022-04-11', 3239.86, 3167.13, 3156.51, 3239.86],
                                ['2022-04-12', 3165.12, 3213.33, 3140.9, 3214.54],
                                ['2022-04-13', 3199.8, 3186.82, 3183.53, 3225.47],
                                ['2022-04-14', 3203.63, 3225.64, 3200.23, 3240.0],
                                ['2022-04-15', 3210.7, 3211.24, 3200.13, 3229.87],
                                ['2022-04-18', 3185.94, 3195.52, 3166.98, 3204.03],
                                ['2022-04-19', 3192.09, 3194.03, 3174.71, 3207.83],
                                ['2022-04-20', 3189.89, 3151.05, 3142.05, 3191.83],
                                ['2022-04-21', 3138.43, 3079.81, 3069.68, 3160.9],
                                ['2022-04-22', 3058.4, 3086.92, 3049.36, 3105.66],
                                ['2022-04-25', 3034.27, 2928.51, 2928.51, 3043.82],
                                ['2022-04-26', 2930.45, 2886.43, 2878.26, 2957.68],
                                ['2022-04-27', 2866.82, 2958.28, 2863.65, 2959.18],
                                ['2022-04-28', 2945.81, 2975.48, 2936.79, 2991.51],
                                ['2022-04-29', 2986.06, 3047.06, 2968.33, 3048.49],
                                ['2022-05-05', 3044.85, 3067.76, 3042.12, 3082.23],
                                ['2022-05-06', 3011.32, 3001.56, 2992.72, 3030.69],
                                ['2022-05-09', 2990.2, 3004.14, 2983.61, 3015.94],
                                ['2022-05-10', 2965.78, 3035.84, 2957.4, 3043.78],
                                ['2022-05-11', 3035.39, 3058.7, 3034.67, 3100.9],
                                ['2022-05-12', 3044.8, 3054.99, 3032.95, 3072.16],
                                ['2022-05-13', 3068.03, 3084.28, 3059.25, 3086.1],
                                ['2022-05-16', 3100.55, 3073.75, 3063.4, 3102.58],
                                ['2022-05-17', 3076.5, 3093.7, 3057.64, 3093.7],
                                ['2022-05-18', 3095.89, 3085.98, 3071.31, 3105.84],
                                ['2022-05-19', 3046.71, 3096.96, 3042.67, 3096.96],
                                ['2022-05-20', 3107.09, 3146.57, 3107.09, 3146.57],
                                ['2022-05-23', 3150.49, 3146.86, 3127.9, 3150.51],
                                ['2022-05-24', 3149.06, 3070.93, 3070.93, 3153.13],
                                ['2022-05-25', 3070.17, 3107.46, 3069.95, 3107.63],
                                ['2022-05-26', 3111.48, 3123.11, 3079.48, 3133.28],
                                ['2022-05-27', 3135.03, 3130.24, 3112.54, 3151.05],
                                ['2022-05-30', 3141.96, 3149.06, 3123.15, 3150.89],
                                ['2022-05-31', 3149.94, 3186.43, 3142.0, 3188.6],
                                ['2022-06-01', 3179.69, 3182.16, 3160.04, 3190.61],
                                ['2022-06-02', 3170.31, 3195.46, 3163.76, 3197.28],
                                ['2022-06-06', 3196.96, 3236.37, 3181.65, 3237.07],
                                ['2022-06-07', 3235.42, 3241.76, 3222.64, 3253.09],
                                ['2022-06-08', 3245.02, 3263.79, 3216.01, 3266.63],
                                ['2022-06-09', 3259.49, 3238.95, 3223.48, 3270.56],
                                ['2022-06-10', 3214.18, 3284.83, 3210.81, 3286.62],
                                ['2022-06-13', 3256.28, 3255.55, 3229.31, 3272.99],
                                ['2022-06-14', 3224.21, 3288.91, 3195.82, 3289.13],
                                ['2022-06-15', 3289.1, 3305.41, 3288.85, 3358.55],
                                ['2022-06-16', 3306.84, 3285.38, 3277.53, 3319.69],
                                ['2022-06-17', 3265.51, 3316.79, 3262.89, 3323.28],
                                ['2022-06-20', 3315.78, 3315.43, 3292.93, 3333.9],
                                ['2022-06-21', 3313.79, 3306.72, 3279.83, 3329.39],
                                ['2022-06-22', 3309.12, 3267.2, 3266.54, 3311.02],
                                ['2022-06-23', 3269.05, 3320.15, 3262.29, 3320.15],
                                ['2022-06-24', 3324.74, 3349.75, 3322.95, 3356.71],
                                ['2022-06-27', 3364.0, 3379.19, 3364.0, 3393.31],
                                ['2022-06-28', 3377.68, 3409.21, 3358.87, 3412.1],
                                ['2022-06-29', 3399.68, 3361.52, 3358.47, 3414.65],
                                ['2022-06-30', 3358.93, 3398.62, 3358.93, 3417.01],
                                ['2022-07-01', 3400.26, 3387.64, 3378.36, 3404.05],
                                ['2022-07-04', 3381.82, 3405.43, 3364.09, 3405.62],
                                ['2022-07-05', 3411.13, 3404.03, 3372.06, 3424.84],
                                ['2022-07-06', 3391.03, 3355.35, 3333.1, 3391.03],
                                ['2022-07-07', 3353.13, 3364.4, 3332.31, 3375.86],
                                ['2022-07-08', 3380.37, 3356.08, 3354.12, 3386.31],
                                ['2022-07-11', 3341.1, 3313.58, 3297.01, 3341.1],
                                ['2022-07-12', 3307.22, 3281.47, 3277.08, 3319.25],
                                ['2022-07-13', 3279.6, 3284.29, 3266.48, 3297.02],
                                ['2022-07-14', 3277.45, 3281.74, 3261.49, 3299.25],
                                ['2022-07-15', 3261.38, 3228.06, 3228.06, 3288.92],
                                ['2022-07-18', 3235.09, 3278.1, 3226.23, 3278.47],
                                ['2022-07-19', 3278.72, 3279.43, 3256.02, 3283.93],
                                ['2022-07-20', 3291.55, 3304.72, 3287.74, 3308.35],
                                ['2022-07-21', 3297.66, 3272.0, 3272.0, 3300.53],
                                ['2022-07-22', 3276.2, 3269.97, 3246.73, 3293.64],
                                ['2022-07-25', 3269.71, 3250.39, 3243.03, 3273.18],
                                ['2022-07-26', 3254.19, 3277.44, 3246.04, 3282.41],
                                ['2022-07-27', 3271.78, 3275.76, 3265.73, 3282.57],
                                ['2022-07-28', 3287.5, 3282.58, 3277.11, 3305.71],
                                ['2022-07-29', 3282.81, 3253.24, 3246.37, 3294.8],
                                ['2022-08-01', 3246.62, 3259.96, 3225.55, 3264.3],
                                ['2022-08-02', 3231.26, 3186.27, 3155.19, 3231.26],
                                ['2022-08-03', 3188.89, 3163.67, 3159.46, 3217.55],
                                ['2022-08-04', 3179.43, 3189.04, 3155.7, 3191.0],
                                ['2022-08-05', 3195.23, 3227.03, 3184.45, 3228.89],
                                ['2022-08-08', 3218.85, 3236.93, 3214.08, 3237.97],
                                ['2022-08-09', 3235.74, 3247.43, 3227.54, 3248.77],
                                ['2022-08-10', 3242.36, 3230.02, 3217.81, 3253.17],
                                ['2022-08-11', 3243.47, 3281.67, 3237.9, 3281.67],
                                ['2022-08-12', 3275.77, 3276.89, 3272.84, 3288.22],
                                ['2022-08-15', 3268.37, 3276.09, 3261.82, 3286.89],
                                ['2022-08-16', 3278.68, 3277.88, 3271.57, 3295.02],
                                ['2022-08-17', 3282.1, 3292.53, 3263.35, 3296.0],
                                ['2022-08-18', 3286.37, 3277.54, 3270.56, 3289.14],
                                ['2022-08-19', 3275.62, 3258.08, 3258.06, 3286.49],
                                ['2022-08-22', 3249.7, 3277.79, 3247.19, 3278.17],
                                ['2022-08-23', 3274.43, 3276.22, 3262.63, 3284.6],
                                ['2022-08-24', 3279.17, 3215.2, 3212.39, 3281.88],
                                ['2022-08-25', 3223.46, 3246.25, 3199.12, 3248.35],
                                ['2022-08-26', 3250.63, 3236.22, 3232.28, 3266.27],
                                ['2022-08-29', 3203.1, 3240.73, 3199.0, 3240.73],
                                ['2022-08-30', 3240.18, 3227.22, 3212.63, 3243.75],
                                ['2022-08-31', 3216.53, 3202.14, 3184.39, 3232.02],
                                ['2022-09-01', 3196.54, 3184.98, 3181.63, 3214.56],
                                ['2022-09-02', 3189.64, 3186.48, 3173.79, 3198.28],
                                ['2022-09-05', 3183.95, 3199.91, 3172.04, 3199.91],
                                ['2022-09-06', 3207.93, 3243.45, 3203.82, 3244.64],
                                ['2022-09-07', 3232.14, 3246.29, 3227.82, 3253.77],
                                ['2022-09-08', 3245.56, 3235.59, 3233.8, 3253.7],
                                ['2022-09-09', 3241.18, 3262.05, 3236.51, 3266.2],
                                ['2022-09-13', 3272.05, 3263.8, 3259.66, 3278.17],
                                ['2022-09-14', 3224.68, 3237.54, 3221.96, 3250.8],
                                ['2022-09-15', 3248.97, 3199.92, 3174.39, 3254.18],
                                ['2022-09-16', 3189.83, 3126.4, 3126.4, 3191.83],
                                ['2022-09-19', 3122.75, 3115.6, 3101.22, 3135.56],
                                ['2022-09-20', 3127.84, 3122.41, 3114.04, 3140.03],
                                ['2022-09-21', 3116.01, 3117.18, 3091.3, 3129.82],
                                ['2022-09-22', 3098.77, 3108.91, 3092.82, 3125.68],
                                ['2022-09-23', 3106.81, 3088.37, 3072.24, 3124.66],
                                ['2022-09-26', 3067.57, 3051.23, 3048.51, 3102.65],
                                ['2022-09-27', 3056.39, 3093.86, 3048.37, 3094.04],
                                ['2022-09-28', 3089.1, 3045.07, 3044.86, 3089.1],
                                ['2022-09-29', 3067.47, 3041.2, 3026.08, 3076.76],
                                ['2022-09-30', 3042.17, 3024.39, 3021.93, 3054.61],
                                ['2022-10-10', 3026.94, 2974.15, 2968.28, 3029.45],
                                ['2022-10-11', 2978.06, 2979.79, 2953.5, 2986.91],
                                ['2022-10-12', 2976.72, 3025.51, 2934.09, 3025.51],
                                ['2022-10-13', 3008.3, 3016.36, 3004.5, 3036.25],
                                ['2022-10-14', 3035.03, 3071.99, 3035.03, 3084.27],
                                ['2022-10-17', 3060.52, 3084.94, 3052.71, 3087.19],
                                ['2022-10-18', 3094.93, 3080.96, 3074.22, 3099.92],
                                ['2022-10-19', 3073.26, 3044.38, 3044.38, 3081.39],
                                ['2022-10-20', 3029.3, 3035.05, 3013.69, 3070.26],
                                ['2022-10-21', 3038.04, 3038.93, 3026.96, 3055.42],
                                ['2022-10-24', 3034.75, 2977.56, 2965.17, 3064.42],
                                ['2022-10-25', 2969.16, 2976.28, 2944.26, 3001.72],
                                ['2022-10-26', 2977.56, 2999.5, 2977.56, 3028.35],
                                ['2022-10-27', 3005.04, 2982.9, 2981.69, 3017.26],
                                ['2022-10-28', 2967.02, 2915.93, 2908.98, 2974.24],
                                ['2022-10-31', 2893.2, 2893.48, 2885.09, 2926.02],
                                ['2022-11-01', 2899.5, 2969.2, 2896.76, 2969.2],
                                ['2022-11-02', 2960.65, 3003.37, 2954.95, 3019.05],
                                ['2022-11-03', 2981.2, 2997.81, 2977.72, 3003.72],
                                ['2022-11-04', 2997.0, 3070.8, 2997.0, 3081.59],
                                ['2022-11-07', 3062.86, 3077.82, 3054.46, 3088.19],
                                ['2022-11-08', 3077.31, 3064.49, 3047.46, 3078.28],
                                ['2022-11-09', 3064.46, 3048.17, 3046.19, 3073.92],
                                ['2022-11-10', 3031.69, 3036.13, 3022.85, 3047.98],
                                ['2022-11-11', 3099.65, 3087.29, 3070.3, 3117.74],
                                ['2022-11-14', 3100.87, 3083.4, 3075.22, 3121.41],
                                ['2022-11-15', 3081.13, 3134.08, 3074.5, 3135.59],
                                ['2022-11-16', 3133.65, 3119.98, 3115.35, 3145.75],
                                ['2022-11-17', 3110.96, 3115.43, 3087.17, 3115.44],
                                ['2022-11-18', 3116.73, 3097.24, 3096.89, 3126.71],
                                ['2022-11-21', 3078.06, 3085.04, 3056.17, 3085.24],
                                ['2022-11-22', 3084.23, 3088.94, 3076.32, 3118.12],
                                ['2022-11-23', 3084.74, 3096.91, 3075.32, 3108.24],
                                ['2022-11-24', 3104.1, 3089.31, 3084.86, 3113.24],
                                ['2022-11-25', 3085.46, 3101.69, 3077.97, 3111.42],
                                ['2022-11-28', 3055.29, 3078.55, 3034.7, 3080.18],
                                ['2022-11-29', 3096.11, 3149.75, 3096.11, 3152.0],
                                ['2022-11-30', 3141.4, 3151.34, 3137.37, 3158.57],
                                ['2022-12-01', 3187.99, 3165.47, 3164.53, 3198.41],
                                ['2022-12-02', 3160.58, 3156.14, 3149.84, 3170.9],
                                ['2022-12-05', 3181.92, 3211.81, 3177.06, 3213.44],
                                ['2022-12-06', 3200.28, 3212.53, 3195.08, 3224.82],
                                ['2022-12-07', 3204.94, 3199.62, 3188.67, 3226.08],
                                ['2022-12-08', 3196.02, 3197.35, 3187.26, 3206.72],
                                ['2022-12-09', 3197.12, 3206.95, 3182.91, 3212.11],
                                ['2022-12-12', 3195.87, 3179.04, 3176.58, 3196.72],
                                ['2022-12-13', 3179.44, 3176.33, 3171.48, 3187.2],
                                ['2022-12-14', 3178.55, 3176.53, 3168.59, 3189.84],
                                ['2022-12-15', 3177.2, 3168.65, 3158.45, 3179.1],
                                ['2022-12-16', 3156.13, 3167.86, 3151.61, 3175.35],
                                ['2022-12-19', 3165.31, 3107.12, 3096.1, 3170.26],
                                ['2022-12-20', 3098.95, 3073.77, 3061.51, 3100.75],
                                ['2022-12-21', 3078.33, 3068.41, 3060.55, 3085.8],
                                ['2022-12-22', 3085.8, 3054.43, 3044.6, 3096.24],
                                ['2022-12-23', 3038.84, 3045.87, 3031.54, 3061.87],
                                ['2022-12-26', 3048.2, 3065.56, 3047.35, 3071.84],
                                ['2022-12-27', 3077.75, 3095.57, 3074.31, 3098.08],
                                ['2022-12-28', 3088.62, 3087.4, 3079.43, 3098.65],
                                ['2022-12-29', 3076.73, 3073.7, 3064.46, 3086.0],
                                ['2022-12-30', 3084.52, 3089.26, 3082.2, 3096.31],
                                ['2023-01-03', 3087.51, 3116.51, 3073.05, 3119.86],
                                ['2023-01-04', 3117.57, 3123.52, 3109.45, 3129.09],
                                ['2023-01-05', 3132.76, 3155.22, 3130.23, 3159.43],
                                ['2023-01-06', 3155.07, 3157.64, 3151.84, 3170.74],
                                ['2023-01-09', 3169.37, 3176.08, 3165.43, 3183.58],
                                ['2023-01-10', 3178.02, 3169.51, 3165.14, 3178.16],
                                ['2023-01-11', 3172.38, 3161.84, 3160.89, 3184.76],
                                ['2023-01-12', 3167.27, 3163.45, 3153.4, 3171.59],
                                ['2023-01-13', 3170.35, 3195.31, 3167.51, 3195.31],
                                ['2023-01-16', 3198.52, 3227.59, 3197.32, 3251.37],
                                ['2023-01-17', 3229.44, 3224.24, 3211.76, 3231.26],
                                ['2023-01-18', 3227.59, 3224.41, 3220.37, 3234.82],
                                ['2023-01-19', 3221.52, 3240.28, 3210.38, 3240.28],
                                ['2023-01-20', 3247.2, 3264.81, 3247.2, 3267.06],
                                ['2023-01-30', 3308.87, 3269.32, 3266.76, 3310.49],
                                ['2023-01-31', 3266.14, 3255.67, 3252.01, 3277.25],
                                ['2023-02-01', 3262.2, 3284.92, 3245.41, 3284.92],
                                ['2023-02-02', 3291.78, 3285.67, 3272.41, 3295.76],
                                ['2023-02-03', 3275.66, 3263.41, 3235.35, 3275.66],
                                ['2023-02-06', 3244.7, 3238.7, 3226.21, 3250.35],
                                ['2023-02-07', 3245.23, 3248.09, 3233.83, 3250.03],
                                ['2023-02-08', 3251.5, 3232.11, 3230.44, 3257.11],
                                ['2023-02-09', 3227.73, 3270.38, 3225.77, 3270.38],
                                ['2023-02-10', 3266.44, 3260.67, 3247.23, 3269.99],
                                ['2023-02-13', 3256.99, 3284.16, 3252.63, 3285.09],
                                ['2023-02-14', 3288.97, 3293.28, 3279.19, 3293.73],
                                ['2023-02-15', 3294.02, 3280.49, 3274.55, 3296.2],
                                ['2023-02-16', 3281.74, 3249.03, 3231.34, 3308.83],
                                ['2023-02-17', 3244.73, 3224.02, 3223.26, 3262.47],
                                ['2023-02-20', 3230.47, 3290.34, 3225.84, 3291.04],
                                ['2023-02-21', 3291.63, 3306.52, 3282.44, 3308.79],
                                ['2023-02-22', 3292.05, 3291.15, 3286.72, 3307.03],
                                ['2023-02-23', 3293.52, 3287.48, 3275.36, 3307.44],
                                ['2023-02-24', 3287.26, 3267.16, 3253.97, 3288.39],
                                ['2023-02-27', 3257.0, 3258.03, 3251.72, 3276.58],
                                ['2023-02-28', 3265.74, 3279.61, 3246.14, 3280.42],
                                ['2023-03-01', 3279.14, 3312.35, 3272.04, 3315.16],
                                ['2023-03-02', 3308.01, 3310.65, 3306.46, 3320.74],
                                ['2023-03-03', 3314.77, 3328.39, 3302.62, 3330.6],
                                ['2023-03-06', 3332.02, 3322.03, 3308.73, 3333.06],
                                ['2023-03-07', 3320.21, 3285.1, 3284.41, 3342.86],
                                ['2023-03-08', 3271.88, 3283.25, 3263.69, 3283.25],
                                ['2023-03-09', 3285.94, 3276.09, 3260.0, 3289.06],
                                ['2023-03-10', 3255.51, 3230.08, 3229.5, 3262.15],
                                ['2023-03-13', 3228.12, 3268.7, 3228.12, 3268.7],
                                ['2023-03-14', 3261.92, 3245.31, 3216.99, 3262.0],
                                ['2023-03-15', 3261.03, 3263.31, 3256.86, 3273.12],
                                ['2023-03-16', 3244.47, 3226.89, 3224.72, 3257.43],
                                ['2023-03-17', 3245.26, 3250.55, 3240.16, 3279.92],
                                ['2023-03-20', 3253.93, 3234.91, 3231.65, 3267.99],
                                ['2023-03-21', 3240.84, 3255.65, 3237.89, 3256.0],
                                ['2023-03-22', 3263.41, 3265.75, 3255.74, 3279.39],
                                ['2023-03-23', 3258.78, 3286.65, 3252.99, 3286.65],
                                ['2023-03-24', 3282.74, 3265.65, 3260.84, 3282.74],
                                ['2023-03-27', 3261.82, 3251.4, 3229.7, 3261.82],
                                ['2023-03-28', 3256.6, 3245.38, 3241.74, 3264.1],
                                ['2023-03-29', 3253.62, 3240.06, 3229.58, 3254.56],
                                ['2023-03-30', 3243.07, 3261.25, 3220.98, 3263.74],
                                ['2023-03-31', 3263.41, 3272.86, 3260.04, 3278.42]
            ]);

            //切割数组，把数组中的日期和数据分离，返回数组中的日期和数据
            function splitData(rawData) {
                var categoryData = [];
                var values = [];

                for (var i = 0; i < rawData.length; i++) {
                    //splice 返回每组数组中被删除的第一项，即返回数组中被删除的日期
                    //alert(rawData[i].splice(0, 1)[0]);
                    //categoryData  日期  把返回的日期放到categoryData[]数组中
                    categoryData.push(rawData[i].splice(0, 1)[0]);
                    //alert(categoryData);

                    //数据数组，即数组中除日期外的数据
                    // alert(rawData[i]);
                    values.push(rawData[i])
                }
                return {
                    categoryData: categoryData, //数组中的日期 x轴对应的日期
                    values: values              //数组中的数据 y轴对应的数据
                };
            }

            //计算MA平均线，N日移动平均线=N日收盘价之和/N  dayCount要计算的天数(5,10,20,30)
            function calculateMA(dayCount) {
                var result = [];
                for (var i = 0, len = data0.values.length; i < len; i++) {
                    if (i < dayCount) {
                        result.push('-');
                        //alert(result);
                        continue;   //结束单次循环，即不输出本次结果
                    }
                    var sum = 0;
                    for (var j = 0; j < dayCount; j++) {
                        //收盘价总和
                        sum += data0.values[i - j][1];
                        //alert(sum);
                    }
                    result.push(sum / dayCount);
                    // alert(result);
                }
                return result;
            }


            option = {
                title: {    //标题
                    text: '上证指数',
                    left: 0
                },
                tooltip: {  //提示框
                    trigger: 'axis',    //触发类型：坐标轴触发
                    axisPointer: {  //坐标轴指示器配置项
                        type: 'cross'   //指示器类型，十字准星
                    }
                },
                legend: {   //图例控件，点击图例控制哪些系列不现实
                    data: ['日K', 'MA5', 'MA10', 'MA20', 'MA30']
                },
                grid: {     //直角坐标系
                    show: true,
                    left: '5%',    //grid组件离容器左侧的距离
                    right: '10%',
                    bottom: '5%',
                    //backgroundColor:'#ccc'
                },
                xAxis: {
                    type: 'category',   //坐标轴类型，类目轴
                    data: data0.categoryData,
                    //scale: true,  //只在数字轴中有效
                    boundaryGap: false,    //刻度作为分割线，标签和数据点会在两个刻度上
                    axisLine: {onZero: false},
                    splitLine: {show: false},   //是否显示坐标轴轴线
                    //splitNumber: 20,    //坐标轴的分割段数，预估值，在类目轴中无效
                    min: 'dataMin', //特殊值，数轴上的最小值作为最小刻度
                    max: 'dataMax'  //特殊值，数轴上的最大值作为最大刻度
                },
                yAxis: {
                    scale: true,    //坐标刻度不强制包含零刻度
                    splitArea: {
                        show: true  //显示分割区域
                    }
                },
                dataZoom: [     //用于区域缩放
                    {
                        filterMode: 'filter',    //当前数据窗口外的数据被过滤掉来达到数据窗口缩放的效果  默认值filter
                        type: 'inside', //内置型数据区域缩放组件
                        start: 50,      //数据窗口范围的起始百分比
                        end: 100        //数据窗口范围的结束百分比
                    },
                    {
                        show: true,
                        type: 'slider', //滑动条型数据区域缩放组件
                        y: '90%',
                        start: 50,
                        end: 100
                    }
                ],
                series: [   //图表类型
                    {
                        name: '日K',
                        type: 'candlestick',    //K线图
                        data: data0.values,     //y轴对应的数据

                        ////////////////////////图标标注/////////////////////////////

                        markPoint: {    //图表标注
                            label: {    //标注的文本
                                normal: {   //默认不显示标注
                                    show: true,
                                    //position:['20%','30%'],
                                    formatter: function (param) {   //标签内容控制器
                                        return param != null ? Math.round(param.value) : '';
                                    }
                                }
                            },
                            data: [     //标注的数据数组
                                {
                                    name: 'XX标点',
                                    coord: ['2013/5/31', 2300], //指定数据的坐标位置
                                    value: 2300,
                                    itemStyle: {    //图形样式
                                        normal: {color: 'rgb(41,60,85)'}
                                    }
                                },
                                {
                                    name: 'highest value',
                                    type: 'max',    //最大值
                                    valueDim: 'highest'     //在highest维度上的最大值 最高价
                                },
                                {
                                    name: 'lowest value',
                                    type: 'min',
                                    valueDim: 'lowest'  //最低价
                                },
                                {
                                    name: 'average value on close',
                                    type: 'average',
                                    valueDim: 'close'   //收盘价
                                }
                            ],
                            tooltip: {      //提示框
                                formatter: function (param) {
                                    return param.name + '<br>' + (param.data.coord || '');
                                }
                            }
                        },

/////////////////////////////////图标标线///////////////////////////

                        markLine: {
                            symbol: ['none', 'none'],   //标线两端的标记类型
                            data: [
                                [
                                    {
                                        name: 'from lowest to highest',
                                        type: 'min',    //设置该标线为最小值的线
                                        valueDim: 'lowest', //指定在哪个维度上的最小值
                                        symbol: 'circle',
                                        symbolSize: 10, //起点标记的大小
                                        label: {    //normal默认，emphasis高亮
                                            normal: {show: false},  //不显示标签
                                            emphasis: {show: false} //不显示标签
                                        }
                                    },
                                    {
                                        type: 'max',
                                        valueDim: 'highest',
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        label: {
                                            normal: {show: false},
                                            emphasis: {show: false}
                                        }
                                    }
                                ],

                                {
                                    name: 'min line on close',
                                    type: 'min',
                                    valueDim: 'close'
                                },
                                {
                                    name: 'max line on close',
                                    type: 'max',
                                    valueDim: 'close'
                                }
                            ]

                        }

                    },

                    {   //MA5 5天内的收盘价之和/5
                        name: 'MA5',
                        type: 'line',
                        data: calculateMA(5),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA10',
                        type: 'line',
                        data: calculateMA(10),
                        smooth: true,
                        lineStyle: {    //标线的样式
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA20',
                        type: 'line',
                        data: calculateMA(20),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },
                    {
                        name: 'MA30',
                        type: 'line',
                        data: calculateMA(30),
                        smooth: true,
                        lineStyle: {
                            normal: {opacity: 0.5}
                        }
                    },

                ]
            };
            // 使用刚指定的配置项和数据显示图表
            myChart.setOption(option);
            // 设置改变大小重绘窗口
            window.addEventListener("resize", function () {
                myChart.resize();
            });
        });

    </script>
{% endblock %}